<p style="font-size: 28px; text-align: left; margin-bottom: 30px;">{{hintText}}</p>
{{#if timerDone}}
    <div class="hint">
        37°14'01.1"N 122°03'41.7"W
    </div>
{{else}}
    <div class="clock">
    </div>
{{/if}}



