<div class="corner-cube">
    <div id="ribbon"></div>
    <div id="giftbox" class="inner-wrapper">
        <div class="ribbon vertical-ribbon"></div>
        <div class="ribbon horizontal-ribbon"></div>
        <div class="codes">
          <p><i id="code-1">NAHC</i> <i id="code-9">EOHP</i> <i id="code-17">AWEB</i> <i id="code-25">EILL</i></p>
          <p><i id="code-2">LDEM</i> <i id="code-10">IBRE</i> <i id="code-18">RTEK</i> <i id="code-26">LEVA</i></p>
          <p><i id="code-3">WAT4</i> <i id="code-11">CLLI</i> <i id="code-19">EFFO</i> <i id="code-27">SERE</i></p>
          <p><i id="code-4">ATUT</i> <i id="code-12">BUOY</i> <i id="code-20">WYBA</i> <i id="code-28">TENI</i></p>
          <p><i id="code-5">XESO</i> <i id="code-13">RRAM</i> <i id="code-21">SERY</i> <i id="code-29">TCEP</i></p>
          <p><i id="code-6">HTEG</i> <i id="code-14">ITRE</i> <i id="code-22">M?EM</i> <i id="code-30">CISU</i></p>
          <p><i id="code-7">ЯСАК</i> <i id="code-15">АКЬЛ</i> <i id="code-23">CINU</i> <i id="code-31">8NRO</i></p>
          <p><i id="code-8">KOOB</i> <i id="code-16">CARS</i> <i id="code-24">VGNI</i> <i id="code-32">SAGE</i></p>
        </div>
    </div>
</div>

