$green: #18BC9C;
$red: #F04D4D;
$sidebar-width: 220px;

@import 'intro';
@import 'corner-cube';


html, body, .ember-application,
.ember-application > .ember-view,
.main-content {
  width: 100%;
  height: 100%;
}

.container-fluid {
  padding: 0;
}

body {
  min-height: 100%;
}

.quest-content,
.content-wrapper {
  height: 100%;
}

.main-content {
  /*margin-top: 10%;*/
}

.quest-content {
  .left-sidebar {
    transition: all 0.5s;

    position: absolute;
    width: $sidebar-width;
    background-color: black;
    color: white;
    border-color: #2f4050;
    border-right: 1px solid rgba(0,0,0,0.07);
    height: 100%;
  }

  .content-wrapper {
    margin: 0 0 0 $sidebar-width;
    padding: 0 15px;

  }

  .level-content {
    min-height: 80%;

  }

  .next-level-controls {
    min-height: 13%;
  }
}

.code {
  width: 300px;

  input {
    text-transform: uppercase;
  }
}

.secondary {
  opacity: 0.3;
}

.blurred {
  color: transparent;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.green {
  color: $green;
}
.red {
  color: $red;
}

.position-center {
  position: fixed;;
  top: 30%;
  left: 40%;
  right: 0;
  bottom: 0;
}





//sidebar
.progress-list {
  padding: 10px;
  transition: all 0.5s;
  color: white;


  li {
    opacity: 0.5;
    text-decoration: line-through;

    &.active,
    &.caption {

      opacity: 1;
      text-decoration: none;

      .fa {
        opacity: 0;
      }
    }

    &.divider {
      height: 1px;
      margin: 7px 0;
      overflow: hidden;
      background: rgba(0,0,0,0.07);
    }
  }
}



