html, body, .ember-application,
.ember-application > .ember-view,
.main-content {
  width: 100%;
  height: 100%;
}

.container-fluid {
  padding: 0;
}

body {
  min-height: 100%;
}

.quest-content,
.content-wrapper {
  height: 100%;
}

$green: #18BC9C;
$sidebar-width: 220px;

.main-content {
  /*margin-top: 10%;*/
}

.quest-content {
  .left-sidebar {
    transition: all 0.5s;

    position: absolute;
    width: $sidebar-width;
    background-color: #2f4050;
    border-color: #2f4050;
    height: 100%;
  }

  .content-wrapper {
    margin: 0 0 0 $sidebar-width;
    padding: 0 15px;

  }

  .level-content {
    min-height: 80%;

    .corner-cube {
      font-family: "Lucida Console", Consolas, Menlo, Monaco, monospace;
      line-height: 1.2;
      text-align: center;
      color: #222;
      font-size: 12px;

      background-color: transparent;

      width: 200px;
      height: 200px;
      float: right;
      border: 1px dotted grey;
      padding: 15px;
      margin: auto;

      position: relative;
      transition: all 0.5s;

      & * {
        transition: all 0.5s;
      }

      &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
      }

      p {
        padding: 0;
        margin: 0;
      }

      .inner-wrapper {
        vertical-align: middle;
        display: inline-block;
      }

      .high {
        color: deepskyblue;
      }
    }
  }

  .next-level-controls {
    min-height: 20%;
  }
}

.code {
  width: 300px;

  input {
    text-transform: uppercase;
  }
}

.secondary {
  opacity: 0.8;
}

.blurred {
  color: transparent;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.green {
  color: $green;
}

.position-center {
  position: fixed;;
  top: 30%;
  left: 40%;
  right: 0;
  bottom: 0;
}


