{{partial "minimal-header"}}
<div id="main-container" class="container-fluid main-content" >
    <div class="row">
        <div class="col-sm-12">
          {{outlet}}
        </div>
    </div>
</div>
