{{outlet}}
<div class="intro-content-wrapper">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="page-header">
                <h1>Квест</h1>
                <p>В этот знаменательный день, тебе предстоит пройти 33 суровых испытания.</p>
            </div>

            <div class="text-center">
              {{#link-to "quest.level" 0 class="btn btn-primary"}}
                {{fa-icon 'heart' classNames="red"}}
                  Ну ок
              {{/link-to}}
            </div>
        </div>
    </div>
</div>

