<div class="corner-cube big">
    <style>
        body {
            background-color: black;
        }
    </style>
    <div class="inner-wrapper">
        <div class="codes">
            <p class="love">LOVE</p>
            <p>CHANPHOEBEWALLIE</p>
            <p>MEDLERBIKETRAVEL</p>
            <p>4TA<i>WILL</i>COFFEERES</p>
            <p>TUTA<i>YOU</i>BABYWINET</p>
            <p>OSEX<<i>MARRY</i>RESPECT</p>
            <p>GETHERTI<i>ME?</i>MUSIC</p>
            <p>КАСЯЛЬКАUNICORN8</p>
            <p>BOOKSRACINGVEGAS</p>
        </div>
    </div>
</div>

