<div>
    <h4>Добро пожаловать на вводный уровень 0.</h4>
    <p>Несколько важных моментов.</p>

    <h5>{{fa-icon "gift"}} Подарок справа</h5>
    <p>Периодически поглядывай на него. Это самый главный подарок на сегодня, весь квест
    это фактически сбор этого одного подарка ;)</p>

    <h5>{{fa-icon "line-chart"}} Удобная панелька прогресса слева</h5>
    <p>Поазывает пройденные урвони</p>

    <h5>{{fa-icon "key"}} Поле для вовода кода, внизу</h5>
    <p>Количество попыток неограничено, но подбор кода запрещён (я то всё узнаю =)</p>

    <h5>Важные замечания по поводу заданий</h5>
    <p>Цель каждого уровня – получить код. Коды <i>всегда</i> обозначены символом "#" и <i>всегда</i> длиной 4 символа. ("#" не в счёт, её вводить не надо)</p>
    <p>Задания будут лёгкие, сложные и очень сложные, но я уверен, что ты справишься. Каждое задание продумано, чтобы можно было
    догадаться. Для выполениния некоторых заданий тебе потребуется делать фотки, а также {{fa-icon "twitter" classNames="blue"}}</p>
    <p>Задания будут поисковые, когда ты находишь код сама и такие, когда код даю я, если выполнены все условия.</p>
    <p>Не трать много времени, получай удовольствие, я буду рядом, но вопросы можно задавать только в твиттер.</p>

    <p>Всего, как ни странно, 33 уровня.</p>

    <p>Теперь ты можешь ввести код "TEST" в поле ввода.</p>


</div>
