<div class="big-text-center">
    <img src="/assets/img/15-uni.jpg" alt="..." class="img-rounded">
    +<img src="/assets/img/15-pho.jpg" alt="..." class="img-rounded">
    =<img src="/assets/img/15-cat.jpg" alt="..." class="img-rounded">
  <р4>Сфоткать, угадай кого с надетым рогом.</р4>
</div>

