<div class="text-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/CsGYh8AacgY" frameborder="0" allowfullscreen></iframe>
    <p>Посмотреть видео!</p>
    <p>Вылепить 3-х единорожков из найденных материалов, белого, голубого и розового.</p>
    <p> Запостить фотку.</p>
</div>
