<div class="text-center">
    <div><iframe width="854" height="510" src="https://www.youtube.com/embed/VrT7eAo0HjU?start=113" frameborder="0" allowfullscreen></iframe>
    </div>

  <h3>{{fa-icon "paint-brush" size=2 }} Склеить меч из подручных средств, запостить фотку.</h3>
</div>

