<div class="text-center">
    <img src="/assets/img/22.gif" alt="..." class="img-rounded">
    <h2>Отдохни, запомни эмоции</h2>
    <p>Сделай паузу, оглянись на пройденные уровни, оглянись на прожитые годы, на минутку закрой глаза и просто замри.</p>
    <p>Глубоко вдохни. Выдохни. </p>
    <p>Обними меня.</p>
    <p>Полная сил, уверенности и радости отправляйся дальше.</p>
    <p>Собирай своё счастье.</p>

    <p class="" style="opacity: 0.05; padding-top: 50px; ">#M?EM</p>
</div>
