<div class="text-center">
    <p>Посмотреть видео 3 раза для вдохновения</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/a-xWhG4UU_Y" frameborder="0" allowfullscreen></iframe>
    <p>Составить четверостишье со словами "единорог" и "33".</p>
    <p>Затвитить построчно.</p>
</div>
