<div class="img-only">
    <img src="assets/img/32.png" alt="..." class="img-rounded">
    <h4>Pervert #. . . .?</h4>

    <p style="padding-top: 200px; opacity: 0.5;">P.S. На следующем уровне жди инструкций, не пытайся вводить код. Ты поймёшь когда придёт время.</p>
</div>
