<div class="md-text-center lvl-33">
  {{fa-icon 'heart' classNames="heart-1" size=1}}
  {{fa-icon 'heart' classNames="heart-2" size=1}}
  Reminds anything?
    <div>
        <img src="/assets/img/33.png" alt="..." class="img-rounded">
    </div>
    <div class="countdown-clock">
      {{countdown-clock}}
    </div>

</div>

